#!/bin/bash

# api url of the target canvas instance. 
export CANVAS_URL="https://canvas.vu.nl/api/v1/"

# where you want the downloaded data.
export LOCAL_DATA_DIR=~/canvas

# generate a private, gitignored envrc, if one doesn't exist yet. 
# your canvas token should go there. 
if [[ ! -f ./.envrc-private ]]; then
    echo "#!/bin/bash" > ./.envrc-private
    echo "export CANVAS_TOKEN=" >> ./.envrc-private
fi

source_env ./.envrc-private

